<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Assignment1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF19A8B91CB8B8C20045BF72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF19A8CD1CB8B8C30045BF72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF19A8D81CB8B8C30045BF72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
